<template name="adminCommercials">
	{{#each commercials }}
		<h3>{{ name }}</h3>
		Active: {{ active }} <br>
		Start Time: {{ startTime }} <br>
		<button type="button" class="btn btn-primary" id="{{ _id }}">Set Active</button><br>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Time Diff</th>
					<th>Cable Provider</th>
					<th>IP Address</th>
					<th>ISP</th>
					<th>City</th>
				</tr>
			</thead>
			<tbody>
				{{#each responses}}
				<tr>
					<td>{{ timeDiff .. }}s</td>
					<td>{{ cableProvider }}</td>
					<td>{{ headers.x-forwarded-for }}</td>
					<td>{{ ipGeoloc.isp }}</td>
					<td>{{ ipGeoloc.city }}, {{ ipGeoloc.region }}</td>
				</tr>
				{{/each }}
			</tbody>
		</table>
	{{/each }}
</template>