<template name="triggerCommercial">
	<div class="row">
		<div class="col-md-12">
			<p>
				This is an attempt to measure the propagation delay between an event happening on a live television show and that event appearing on your TV at home. The delay is affected by several factors and will be different for each cable or satellite provider, which is why we need your help! The first test will be during the <a href="http://oscar.go.com/">86th Annual Academy Awards</a> main show airing on <strong>Sunday March 2nd 8:30e|5:30p</strong>. While viewing the show, leave this window open, select your service provider, and whenever you see the show transition to commercial, press the button below. Participate for as long as you can, but even sticking with the process for one or two commercial breaks would be very helpful. No personal data will be stored and no registration is required.
			</p>
			<p>
				Timing is important for this test, so please press the button as soon as you see the show transition to black. If you miss the transition, just skip the break as we're trying to be as exact as possible. Thanks!
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4>Select Your Cable Provider:</h4>
			<select id="cableProvider" class="form-control input-lg">
				<option></option>
				{{# each cableProviders }}
				<option>{{ name }}</option>
				{{/each }}
				<option>Other</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-center">
			<h3>Press this button as soon as a commercial break occurs</h3>
			<p>
				Please press the button once as soon as the transition from show to commercial occurs.<br>
				This process should be repeated for each commercial break, but not for each commercial.
			</p>
			{{#if triggered }}
				<button type="button" class="btn btn-lg btn-default">Commercial Break</button><br><br>
				<p>
				Button will reactivate before the next commercial break.
				</p>
			{{ else }}
				<button type="button" id="trigger" class="btn btn-lg btn-primary">Commercial Break</button>
			{{/if }}
		</div>
	</div>
</template>